<!-- Landing page or Main Pages -->
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title></title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"/>

    <!-- CSS File -->
    <link rel="stylesheet" href="../../src/css/style.css">
</head>
<body>
    <!-- =========== Our Team Section =========== -->
    <section id="team">
        <div class="container">
            <div class="team-header">
                <div class="team-title">
                    <h1>Bangun jejaring dengan <br> Tim Pengembang <span>Platform Growkm</span></h1>
                </div>
                <div class="team-description">
                    <p>Tim kami yang terdiri dari mentor berpengalaman, dan pemecah masalah</p>
                </div>
            </div>
            <div class="team-list">
                <div class="team-member"><img src="../../src/image/rafly.png" alt=""></div>
                <div class="team-member"><img src="../../src/image/kinta.png" alt=""></div>
                <div class="team-member"><img src="../../src/image/roy.png" alt=""></div>
                <div class="team-member"><img src="../../src/image/vina.png" alt=""></div>
            </div>
        </div>
    </section> <!-- End Our Team -->

    <!-- =========== FAQ Section =========== -->
    <section id="faq">
        <div class="container">
            <div class="faq-left">
                <div class="faq-header-section">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                        <circle cx="6" cy="6.5" r="4" fill="#007F73"/>
                        <circle cx="6" cy="6.5" r="5" stroke="#007F73" stroke-opacity="0.2" stroke-width="2"/>
                    </svg>
                    <span class="courses-header-section-text">Tanya Growkm</span>
                </div>
                <div class="faq-header-title">
                    <h1>Frequently Asked Questions</h1>
                </div>
                <div class="faq-header-description">
                    <p>For any other questions that we may not have answered, please contact us and we’ll get your back shortly.</p>
                </div>
                <div class="faq-contact-info">
                    <div class="faq-contact-item">
                        <div class="faq-contact-item-icon"><i class="hgi hgi-stroke hgi-location-03"></i></div>
                        <div class="faq-contact-item-text">
                            Lokasi Official Growkm <br>
                            <span>Jl. Pendidikan No.15, Cibiru Wetan, Kec. Cileunyi, Kabupaten Bandung, Jawa Barat 40625</span>
                        </div>
                    </div>
                    <div class="faq-contact-item">
                        <div class="faq-contact-item-icon"><i class="hgi hgi-stroke hgi-mail-account-02"></i></div>
                        <div class="faq-contact-item-text">
                            Email Official<br>
                            <span>Info@growkm.com</span>
                        </div>
                    </div>
                    <div class="faq-contact-item">
                        <div class="faq-contact-item-icon"><i class="hgi hgi-stroke hgi-headset"></i></div>
                        <div class="faq-contact-item-text">
                            Nomor Telepon Official<br>
                            <span>+62 812–3456–7890</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-right">
                <div class="faq-item">
                    <h3>
                        What is The Growkm Platform?
                        <span><i class="hgi hgi-stroke hgi-arrow-down-01"></i></span>
                    </h3>
                    <p></p>
                </div>
                <div class="faq-item">
                    <h3>
                        The Growkm Platform offers innovative solutions for personal growth.
                        <span><i class="hgi hgi-stroke hgi-arrow-down-01"></i></span>
                    </h3>
                    <p>Yes! Growkm provides smart tools and resources to help you grow personally and professionally. From goal setting to progress tracking, we make self-improvement easier and more effective.</p>
                </div>
                <div class="faq-item">
                    <h3>
                        With a user-friendly interface, it connects individuals to resources and community support.
                        <span><i class="hgi hgi-stroke hgi-arrow-down-01"></i></span>
                    </h3>
                    <p></p>
                </div>
                <div class="faq-item">
                    <h3>
                        Features include personalized growth plans tailored to individual goals.
                        <span><i class="hgi hgi-stroke hgi-arrow-down-01"></i></span>
                    </h3>
                    <p></p>
                </div>
                <div class="faq-item">
                    <h3>
                        The platform also provides access to professional coaches and mentors.
                        <span><i class="hgi hgi-stroke hgi-arrow-down-01"></i></span>
                    </h3>
                    <p></p>
                </div>
            </div>
        </div>
    </section> <!-- End FAQ -->

    <script>
        document.querySelectorAll('.faq-item h3').forEach(item => {
            item.addEventListener('click', () => {
                const parent = item.parentNode;
                parent.classList.toggle('active');
            });
        });
    </script>
</body>
</html>