<!-- Landing page or Main Pages -->
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title></title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"/>

    <!-- CSS File -->
    <link rel="stylesheet" href="../../src/css/style.css">
</head>
<body>
    <!-- =========== Top Bar =========== -->
    <div id="topbar">
        <div class="topbar-content">
            <p class="topbar-text">Dapatkan Kesempatan mengembangkan bisnis dengan mudah dan cepat bersama growkm</p>
            <i class="hgi hgi-solid hgi-arrow-right-02"></i>
            <a class="topbar-link">Bergabung sekarang</a>
        </div>
        <button class="close-topbar">
            <i class="hgi hgi-stroke hgi-cancel-01"></i>
        </button>
    </div> <!-- End Topbar -->

    <!-- =========== Header =========== -->
    <header id="header">
        <div class="container">
            <div class="logo"><a href="../../index.html"><img src="../../src/image/logo-vertical.png" alt=""></a></div>
            <nav id="navbar">
                <ul class="navbar-menu">
                    <li><a href="#">Beranda</a></li>
                    <li><a href="#">Program Growkm</a></li>
                    <li>
                        <a href="#">Sumber Daya</a>
                        <ul class="dropdown">
                            <li><a href="#">Our Partner</a></li>
                            <li><a href="#">Tim Growkm</a></li>
                        </ul>
                        <i class="hgi hgi-stroke hgi-arrow-down-01"></i>
                    </li>
                    <li><a href="#">Tentang Kami</a></li>
                </ul>
                <div class="navbar-controls">
                    <div class="language-switch">
                        <a href="#">
                            <i class="hgi hgi-stroke hgi-sharp hgi-globe-02"></i>
                            <span>ID</span>
                        </a>
                        <ul class="dropdown">
                            <li><a href="#"><span class="fi fi-id"></span>ID</a></li>
                            <li><a href="#"><span class="fi fi-us"></span>EN</a></li>
                        </ul>
                        <i class="hgi hgi-stroke hgi-arrow-down-01"></i>
                    </div>
                    <button class="btn-register">Daftar</button>
                    <button class="btn-login">Masuk</button>
                </div>
            </nav>
        </div>
    </header> <!-- End Header -->

    <!-- =========== Our Team Section =========== -->
    <section id="team">
        <div class="container">
            <div class="team-header">
                <div class="team-title">
                    <h1>Bangun jejaring dengan <br> Tim Pengembang <span>Platform Growkm</span></h1>
                </div>
                <div class="team-description">
                    <p>Tim kami yang terdiri dari mentor berpengalaman, dan pemecah masalah</p>
                </div>
            </div>
            <div class="team-list">
                <div class="team-member"><img src="../../src/image/rafly.png" alt=""></div>
                <div class="team-member"><img src="../../src/image/kinta.png" alt=""></div>
                <div class="team-member"><img src="../../src/image/roy.png" alt=""></div>
                <div class="team-member"><img src="../../src/image/vina.png" alt=""></div>
            </div>
        </div>
    </section>

    <!-- =========== Footer Section =========== -->
    <footer id="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../../src/image/logo-vertical.png" alt="">
            </div>
            <div class="footer-main">
                <div class="footer-info">
                    <p class="footer-description">
                        Growkm merupakan platform edukasi, pendampingan usaha yang terintegrasi dengan fitur temu supplier yang dapat membantu proses pengembangan usaha melalui produk tangan pertama dengan mitra supplier yang tergabung.
                    </p>
                    <div class="footer-socials">
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="footer-section">
                    <ul class="footer-links">
                        <li><a href="#">Layanan Kami</a></li>
                        <li><a href="#">Tentang Growkm</a></li>
                        <li><a href="#">Mitra Growkm</a></li>
                        <li><a href="#">Testimoni Alumni</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <ul class="footer-links">
                        <li><a href="#">Supplier+</a></li>
                        <li><a href="#">Growkm Course</a></li>
                        <li><a href="#">Pendampingan Usaha</a></li>
                    </ul>
                    <ul class="footer-links">
                        <li><a href="#">Berlangganan Supplier+</a></li>
                        <li><a href="#">Bergabung menjadi Mitra</a></li>
                        <li><a href="#">Syarat & Ketentuan</a></li>
                        <li><a href="#">Kebijakan Privasi</a></li>
                    </ul>
                </div>
                <div class="footer-apps">
                    <a href="#"><img src="../../src/image/image-10.png" alt="Google Play"></a>
                    <a href="#"><img src="../../src/image/image-20.png" alt="App Store"></a>
                </div>
            </div>
            <div class="footer-bottom">
                <span>PT Digital Creative Solusi Indonesia</span>
                <span>Copyright © 2025 Growkm Solutions • v1.0.0 • All Rights Reserved</span>
            </div>
        </div>
    </footer>
</body>
</html>