<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="page_title"></title>
    <meta
      name="description"
      content="Growkm is a platform that connects farmers with buyers."
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
    />

    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />
    <!-- Main Style -->
    <link rel="stylesheet" href="../../src/css/main.css" />
  </head>

  <body>
    <!-- Head Section -->
    <header>
      <!-- Promo Header -->
      <div class="promo-header">
        <div>
          <p>
            Dapatkan Kesempatan mengembangkan bisnis dengan mudah dan cepat
            bersama growkm
          </p>
          <i class="hgi hgi-stroke hgi-arrow-right-02"></i>
          <a href="#" class="text-yellow-light">Bergabung Sekarang</a>
        </div>
        <i class="hgi hgi-stroke hgi-cancel-01"></i>
      </div>
      <!-- Navbar -->
      <navbar>
        <a href="../../index.html" class="nav-logo">
          <img src="../../src/image/growkm_logo.svg" alt="logo" height="42px" />
        </a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#" class="nav-link">Beranda</a>
          </li>
          <li class="nav-item">
            <a href="#program" class="nav-link">Program Growkm</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown pointer">
            <div class="flex gap-6 dropdown-toggle">
              <span>Sumber daya</span>
              <i class="hgi hgi-stroke hgi-arrow-down-01 text-dark"></i>
            </div>
            <ul class="dropdown-menu program-growkm">
              <a href="#" class="dropdown-item">Mitra Growkm</a>
              <a href="#" class="dropdown-item">Tentang Supplier+</a>
              <a href="template/pages/our-team.html" class="dropdown-item"
                >Tim Growkm</a
              >
            </ul>
          </li>
          <!-- close dropsown -->
          <li class="nav-item">
            <a href="#testimonial" class="nav-link"> Testimoni </a>
          </li>
          <li class="nav-item">
            <a href="#faq" class="nav-link"> Pusat Bantuan </a>
          </li>
        </ul>
        <ul class="nav-actions">
          <li class="nav-item dropdown pointer">
            <div class="flex gap-6 dropdown-toggle">
              <i class="hgi hgi-stroke hgi-global-refresh"></i>
              <span>ID</span>
              <i class="hgi hgi-stroke hgi-arrow-down-01 text-dark"></i>
            </div>
            <ul class="dropdown-menu choose-language">
              <div class="language-item">
                <i class="fi fi-id"></i> Indonesia
              </div>
              <div class="language-item"><i class="fi fi-us"></i> English</div>
            </ul>
          </li>
          <a
            href="template/pages/register.html"
            class="btn-outline regist-button"
            >Daftar</a
          >
          <a href="template/pages/login.html" class="btn-solid login-button"
            >Masuk</a
          >
        </ul>
      </navbar>
      <!-- close header -->
    </header>
    <!-- Close Head Section -->
    <!-- Our Program -->
    <section class="our-team" id="team">
      <div class="container">
        <div class="team-header">
          <div class="team-title">
            <h1>
              Bangun jejaring dengan <br />
              Tim Pengembang <span>Platform Growkm</span>
            </h1>
          </div>
          <div class="team-description">
            <p>
              Tim kami yang terdiri dari mentor berpengalaman, dan pemecah
              masalah
            </p>
          </div>
        </div>
        <div class="team-list">
          <div class="team-member">
            <img src="../../src/image/rafly.png" alt="" />
          </div>
          <div class="team-member">
            <img src="../../src/image/kinta.png" alt="" />
          </div>
          <div class="team-member">
            <img src="../../src/image/roy.png" alt="" />
          </div>
          <div class="team-member">
            <img src="../../src/image/vina.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../../src/image/logo-vertical.png" alt="" />
        </div>
        <div class="footer-main">
          <div class="footer-info">
            <p class="footer-description">
              Growkm merupakan platform edukasi, pendampingan usaha yang
              terintegrasi dengan fitur temu supplier yang dapat membantu proses
              pengembangan usaha melalui produk tangan pertama dengan mitra
              supplier yang tergabung.
            </p>
            <div class="footer-socials">
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
            </div>
          </div>
          <div class="footer-section">
            <ul class="footer-links">
              <li><a href="#">Layanan Kami</a></li>
              <li><a href="#">Tentang Growkm</a></li>
              <li><a href="#">Mitra Growkm</a></li>
              <li><a href="#">Testimoni Alumni</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
            <ul class="footer-links">
              <li><a href="#">Supplier+</a></li>
              <li><a href="#">Growkm Course</a></li>
              <li><a href="#">Pendampingan Usaha</a></li>
            </ul>
            <ul class="footer-links">
              <li><a href="#">Berlangganan Supplier+</a></li>
              <li><a href="#">Bergabung menjadi Mitra</a></li>
              <li><a href="#">Syarat & Ketentuan</a></li>
              <li><a href="#">Kebijakan Privasi</a></li>
            </ul>
          </div>
          <div class="footer-apps">
            <a href="#"
              ><img src="../../src/image/image-10.png" alt="Google Play"
            /></a>
            <a href="#"
              ><img src="../../src/image/image-20.png" alt="App Store"
            /></a>
          </div>
        </div>
        <div class="footer-bottom">
          <span>PT Digital Creative Solusi Indonesia</span>
          <span
            >Copyright © 2025 Growkm Solutions • v1.0.0 • All Rights
            Reserved</span
          >
        </div>
      </div>
    </footer>
  </body>

  <script>
    const page_title = document.querySelector(".page_title");
    const title = "Growkm";
    page_title.innerHTML = title;
    document.title = title;

    // Dropdown Event
    const toggleDropdowns = document.querySelectorAll(".dropdown-toggle");
    const dropdownMenus = document.querySelectorAll(".dropdown-menu");

    toggleDropdowns.forEach((toggle, index) => {
      toggle.addEventListener("click", () => {
        dropdownMenus[index].classList.toggle("show");
      });
    });
  </script>
</html>
