* {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

/* Global States*/
.flex {
  display: flex;
  align-items: center;
}

.gap-6 {
  gap: 6px;
}

.text-yellow-light {
  color: #e5ffa5;
}

.text-dark {
  color: #072326;
}

.pointer {
  cursor: pointer;
}

.container {
  width: 92%;
  margin: auto;
}

.btn-solid {
  background-color: #003c43;
  color: white;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #003c43;
}
.btn-solid:hover {
  background-color: #002c31;
  transition: all 0.2s;
}

.btn-outline {
  background-color: transparent;
  color: #003c43;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #003c43;
}
.btn-outline:hover {
  background-color: rgba(245, 245, 245, 0.5019607843);
  transition: all 0.1s;
}

body {
  background-color: #fff;
}

/* Promo Header */
.promo-header {
  background-color: #003c43;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  padding: 14px 0;
  font-weight: 500;
}
.promo-header div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: 14px;
}
.promo-header div i {
  font-size: 24px;
}
.promo-header div a {
  font-weight: 600;
}
.promo-header div a:hover {
  text-decoration: none;
  color: #eefdc7;
  transform: scale(0.98);
  transition: all ease 0.2s;
}
.promo-header .hgi-cancel-01 {
  position: absolute;
  right: 64px;
  cursor: pointer;
  font-size: 24px;
}
.promo-header .hgi-cancel-01:hover {
  transform: scale(0.9);
  transition: all ease 0.2s;
}

/* Navbar */
navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  padding: 24px 64px;
  position: relative;
  z-index: 99;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.03);
}
navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: 36px;
}
navbar ul.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
navbar ul .nav-item.active a {
  color: #007f73;
  font-weight: 600;
  opacity: 1;
}
navbar ul .nav-item.active::before {
  content: url("../icons/nav-active.svg");
  display: inline-block;
  margin-right: 2px;
}
navbar ul .nav-item a {
  color: #072326;
  opacity: 0.7;
  text-decoration: none;
  font-size: 18px;
}
navbar ul .nav-item a:hover {
  color: #003c43;
  opacity: 1;
  transition: all 0.2s;
}
navbar ul .nav-item span {
  color: #072326;
  opacity: 0.7;
  text-decoration: none;
  font-size: 18px;
}
navbar ul .nav-item span:hover {
  color: #003c43;
  opacity: 1;
  transition: all 0.2s;
}
navbar ul .nav-item i {
  font-size: 18px;
}
navbar ul.nav-actions {
  gap: 16px;
}
navbar .dropdown {
  position: relative;
}
navbar .dropdown .dropdown-menu {
  display: none;
  transform: translateY(-16px);
  opacity: 0;
  background-color: #fff;
  border-radius: 4px;
  right: 0;
  top: 72px;
  flex-direction: column;
  position: absolute;
  border: 1px solid #eaeaea;
  padding: 10px 16px;
  transition: all 0.2s;
}
navbar .dropdown .dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}
navbar .dropdown .dropdown-menu a {
  display: none;
  opacity: 0;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}
navbar .dropdown .dropdown-menu a:hover {
  opacity: 1;
  background: rgba(0, 116, 107, 0.1254901961);
}
navbar .dropdown .dropdown-menu.program-growkm, navbar .dropdown .dropdown-menu.choose-language {
  display: flex;
  gap: 8px;
}
navbar .dropdown .dropdown-menu.program-growkm.show a, navbar .dropdown .dropdown-menu.choose-language.show a {
  display: block;
  opacity: 1;
}
navbar .dropdown .dropdown-menu.program-growkm {
  width: 180px;
}
navbar .dropdown .dropdown-menu.choose-language {
  width: 120px;
  gap: 4px;
}
navbar .dropdown .dropdown-menu.choose-language .language-item {
  width: 100%;
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}
navbar .dropdown .dropdown-menu.choose-language .language-item:hover {
  background: rgba(0, 116, 107, 0.1254901961);
}

/* Close Navbar*/
/* Hero Sections */
section.hero_section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  padding: 32px auto;
  position: relative;
}
section.hero_section .hero_section-hook {
  width: 785px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: none;
  flex-direction: column;
  line-height: 1.3;
}
section.hero_section .hero_section-hook .display {
  margin-top: 16px;
  margin-bottom: 36px;
}
section.hero_section .hero_section-hook .display .display-text {
  font-size: 48px;
  margin-bottom: 16px;
}
section.hero_section .hero_section-hook .display .display-desc {
  width: 98%;
  font-size: 18px;
}
section.hero_section .hero_section-hook .btn-solid,
section.hero_section .hero_section-hook .btn-outline {
  font-size: 18px;
  font-weight: 500;
}
section.hero_section .hero_section-hook .btn-outline {
  margin-left: 16px;
}
section.hero_section .hero_section-image {
  width: 36%;
  position: absolute;
  right: 64px;
  bottom: 0;
}

/* Close Hero Sections*/
/* Our Stats*/
section.stat-growkm {
  background: linear-gradient(64deg, #003c43 -6.33%, #00746b 76.47%, #fdfdfd 148.78%);
  padding: 24px 0;
}
section.stat-growkm .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
}
section.stat-growkm .stat-growkm_title {
  width: 50%;
  font-size: 24px;
  line-height: 1.5;
  color: #f3ffff;
}
section.stat-growkm .stat-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  list-style: none;
  gap: 40px;
}
section.stat-growkm .stat-items .stat-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  flex-direction: column;
}
section.stat-growkm .stat-items .stat-item h4 {
  color: #e5ffa5;
  font-size: 42px;
  margin-bottom: 6px;
}
section.stat-growkm .stat-items .stat-item span {
  color: #f3ffff;
  font-size: 18px;
}/*# sourceMappingURL=main.css.map */